.footer
  background: #fbf9f9
  position: relative
  
  &__row
    border-top 3px solid $pink
    padding-top 40px
    padding-bottom 40px
    
  .icon 
    width 20px 
    height 20px
    color $pink
    margin 0 5px
    
  &__link
    decor()
    
  .block 
    display: block
    margin 10px 0
    
  .margin 
    margin 0 4px
    
  &__loc 
    margin-left 30px
    position: relative 
    top 5px
  
  &__menu
    margin-left auto
    padding-top 13px
    
  &__menu &-nav:last-child 
    padding-right 0px
    
  &__soc 
    width 830px
    border-top 1px solid #e2e2e2
    margin 0 auto
    padding 30px 0 50px 0
    