$check = 456.556px 456.556px
$cross = 512px 512px
$exclame = 612.816px 612.816px
$fb = 512px 512px
$icon1 = 497.984px 497.984px
$icon2 = 64px 64px
$icon3 = 496px 496px
$icon4 = 60px 60px
$left = 59.414px 59.414px
$marker = 512px 512px
$right = 59.414px 59.414px
$ru = 124px 124px
$vk = 512px 512px


.icons-sprite
	border 0 !important
	clip rect(0 0 0 0) !important
	height 1px !important
	margin -1px !important
	overflow hidden !important
	padding 0 !important
	position absolute !important
	width 1px !important


svgSize($icon)
	width $icon[0]
	height $icon[1]


// Default icons sizes
.icon
	// Add coment for normal stylus compilation
	// https://github.com/zoxon/gulp-front/issues/22
	
	&_check
		width 456.556px
		height 456.556px
	
	&_cross
		width 512px
		height 512px
	
	&_exclame
		width 612.816px
		height 612.816px
	
	&_fb
		width 512px
		height 512px
	
	&_icon1
		width 497.984px
		height 497.984px
	
	&_icon2
		width 64px
		height 64px
	
	&_icon3
		width 496px
		height 496px
	
	&_icon4
		width 60px
		height 60px
	
	&_left
		width 59.414px
		height 59.414px
	
	&_marker
		width 512px
		height 512px
	
	&_right
		width 59.414px
		height 59.414px
	
	&_ru
		width 124px
		height 124px
	
	&_vk
		width 512px
		height 512px
	