.module__stat
  background: $pink
  padding 20px 0 10px 0
  
  h2 
    color white
    
  &__col 
    margin-left 342px
    
  .icon 
    color #d03e78
    width 60px
    height 69px
    margin-right 20px
    
  &__str 
  &__str-2 
    color white
    
  &__str-2 
    font-size 36px
    display: block
    
  &__item 
    width 33.3%
    padding-right 30px
    margin-bottom 30px