.module__nav
  padding-top 40px
  padding-bottom 30px
  
  p 
    a 
      color $pink
      decor()
  
  &__str 
    semi()
    font-size 18px
    color $dark
    padding 20px 30px
    
  &__content 
    margin-left 312px
    
  &__side 
    width 312px
    static()
    background: white
    position: absolute
    
  p 
    font-size 14px
    line-height 20px
    
  .module__contanier
    p span 
      color $dark
      semi()
    
  .iframe-wrapper
    top 3px
    margin-bottom 30px
    
.module__contanier
  padding-left 30px
    
