.module__logo
  
  &__link 
    background: url('../images/svg/logo.svg') no-repeat center
    width 140px 
    height 40px 
    trs()
  
    &:hover 
      background: url('../images/svg/hover.svg') no-repeat center
      trs()