mixin module__logo(data)
  - var bemClass = 'module__logo'
  .module__logo&attributes(attributes)
    a(href='home.html' class=bemClass + '__link')
    if data.plus 
      .plus-a
        +svg({
          name: 'pl',
          width: 37,
          height: 45
        })