.module__mobile-cart
  display: none
  
  .icon 
    width 22px 
    height 20px
    color $pink
    
  &__str 
    color white 
    background: $green
    border-radius(50%)
    width 13px
    height @width
    line-height @width
    text-align: center
    font-size 10px
    semi()
