mixin module__mobile-cart(data)
  - var bemClass = 'module__mobile-cart'
  .module__mobile-cart&attributes(attributes)
    a(href="" data-remodal-target="modal-6").row.center
      span(class=bemClass + '__str') 2
      +icon('com')