include ../module__s-item/module__s-item
include ../module__catalog/module__catalog
include ../module__catalog-menu/module__catalog-menu

mixin page__shop(data)
  
  .page__search.page__search_reset
    .container
      +module__s-item-3()

      .row.page__row

        if data.men
          +module__catalog-menu()
        else if data.news
          +module__catalog-menu().module__catalog-menu_news
        else 
          +module__catalog-menu().module__catalog-menu_news

        +module__catalog(data)
    