.page_error
  display flex 
  flex-direction column
  padding 100px 0

.module__error
  width 489px
  margin auto
  
  &__img 
    display: block
    max-width 100%
    margin 0 auto
  
  &__cont 
    margin-bottom 20px
    position: relative
    
  &__text 
    position: absolute
    bottom 54px
    left 0px 
    text-align: center
    width 100%

  &__str 
    font-size 120px
    color white 
    display: block
    line-height 110px
    
  &__str-2 
    font-size 18px
    color white
    text-transform: uppercase
    