.module__s-item
  background: white
  border-bottom 1px solid $dash-border
  trs()
  
  &:hover 
    box-shadow 0 0 10px rgba(0,0,0 0.1)
    position: relative
    z-index: 1
    trs()
    
  p .module__s-item__str-2
    hover()
    
  &__available
    font-size 14px
    color $dark
    text-align: center
    width 100%
    
  &__wrap 
    padding 30px
    
  &__bottom 
    background: $soft
    padding 20px 30px
    
    .button 
      padding 0px 20px
      static()
    
  &__rate-stars
    margin 7px 0
  
  &__img 
    width 160px 
    height @width
    margin-right 30px
    static()
    
    img 
      display: block
      width 100%
      height auto
      
  &__link 
    font-size 24px
    decor()
    semi()
    color $pink
    display: block
    position: relative
    top -3px
    
  &__str 
    font-size 13px 
    color $dark
    
  &__descr 
    margin 10px 0 15px 0
    p 
      padding 0px
      color #aeadad
  
  &__str-3 
    font-size 13px
    display: block
    margin 0 0 5px 0
    
  &__str-4 
    font-size 16px 
    color $dark
    display: block
    
  .icon_time 
  .icon_watch 
    color $pink
    width 16px 
    height @width
    margin 0 2px
    
  .icon_watch
    margin-left 10px
    
  &__row-2 .col 
    flex 1
    
  &__str-5 
    font-size 11px
    color #aeadad
    margin-left 5px
    position: relative 
    top 2px
    
  p 
    font-size 13px
    color #aeadad
    
  &__str-2 
    font-size 13px 
    color $pink
    margin-right 4px
    
  &__rate 
    padding 0px
    
  .col_bordered
    border-right 1px solid $border
    margin-right 34px
    padding-right 0px
    
  &__row-3 
    display: none
    margin-top 20px
    
  // &_catalog 
  //   .module__s-item__row-2
  //     .col 
  //       flex: inherit;
    
  &_catalog 
    padding 30px
    margin-top 20px
    margin-bottom 30px
    border-bottom none
    box-shadow 0 0 10px rgba(0,0,0 0.1)
    z-index 2 !important
    
    .module__s-item__row-2
      .col:nth-child(1)
      .col:nth-child(2)
        width 130px
        static()
      .col:last-child
        width 111px
        flex 0
        static()
        position: relative
        
  .module__s-item__row-2_pink 
    color $pink
    cursor pointer
  
  .module__s-item__tool.active 
    display: block
    
  &__tool 
    z-index 101
    cursor default
    display: none
    position: absolute
    background: white
    width 320px
    box-shadow 0 0 20px rgba(0,0,0 0.1)
    padding 20px
    z-index 2
    top 60px
    right 0px
    +after()
      triangle(20px, 10px, top, white)
      position: absolute 
      top -10px
      right 30px
    
  &__str-8
    margin-top 20px 
    
  &__str-6
  &__str-8
    font-size 14px
    margin-bottom 6px
    display: block
    
  &__str-7 
    font-size 13px
    display block 
    color $dark