.module__discount
  background image-url('2.jpg') no-repeat center
  background-sie cover 
  padding 45px 0 50px 0
  
  h2 
    font-size 30px
    
  .icon 
    width 30px 
    height 40px
    color #aeadad
    trs()
    &:hover 
      color $pink
      trs()

  .jsSlick3 
    margin 40px 0 0 0
    
  .slick-prev-2
  .slick-next-2
    position: relative
    cursor pointer
    
  &__row 
    width 855px
    
  &__slider 
    margin 0 -15px
    