mixin side-nav(data)
  menu.side-nav&attributes(attributes)
    ul.menu.row
      each item, i in data
        if i === sub
          li.side-nav__item.side-nav__item_active
            a.side-nav__link(href=item.url + '.html')= item.name
        else
          li.side-nav__item
            a.side-nav__link(href=item.url + '.html')= item.name
            if item.msg == true 
              span.side-nav__msg 2