.side-nav
  static()
  
  &__link 
    font-size 13px
    height 50px
    line-height @height
    text-align: center
    text-transform: uppercase
    bold()
    background: #fafafa;
    padding 0 35px
    border-right 1px solid $dash-border
    &:hover 
      background: $pink
      color white
      
  &__item_active &__link 
    background: $pink 
    color white
