.module__user-referral

  &__str 
    font-size 15px
    text-transform: uppercase
    semi()
    color $dark
    
  &__top 
    padding 30px
    border-bottom 1px solid $dash-border
    background: white
    
  &__item 
    margin-bottom 30px
    
  &__cont 
    padding 30px
    background: white
    
  &__cont_border 
    border-bottom 1px solid $dash-border
    padding-top 25px
    
  &__str-2 
    color $dark 
    font-size 15px
    margin-bottom 15px
    
  &__link 
    height 42px 
    line-height 42px
    width 341px
    font-size 14px
    border-radius(3px)
    border 1px solid $border
    margin-right 15px
    padding 0 15px
    
  .icon_sh 
    width 23px 
    height @width
    color $grey2
    margin 0 0 0 10px
    static()
    
  &__str-3
    font-size 13px
    
  &__str-4 
    font-size 24px 
    static()
    semi()
    color $dark
  
  .select .jq-selectbox__select
    border none
    background: transparent
    position: relative 
    left -5px
  .select .jq-selectbox__dropdown
    width auto !important
  .select_custom
    min-width 117px
  .jq-selectbox__trigger-arrow
  .select .jq-selectbox__trigger
    background-color: $soft
  .jq-selectbox__trigger-arrow
    position: relative;
    left: -13px;
  .jq-selectbox__dropdown
    top -1px
    left -5px
  .select_custom
    background-color: transparent
  .select .jq-selectbox__trigger
    box-shadow: -12px 0 9px $soft;

  .col__48
    background: $soft
    padding 40px 0
    
  &__sel 
    width 166px
    margin auto
    
  .sh_pink 
    color $pink
    
  &__row-2 
    border-top 1px solid $dash-border
    padding 20px 0
    
  &__table
    margin-top 30px
    border-bottom 1px solid $dash-border
  
  .button_lg 
    width 100%
    padding 0px
    font-size 13px
    margin-top 30px
    height 60px 
    line-height @height
    
  &__str-5 
    color $dark