.module__chart

  &__str 
    color white
    font-size 12px
    position: relative
    z-index: 1
    
  &__bar 
    position: absolute
    left 0px
    height 25px

  .col__33 
    width 33.3%
    text-align: center
    margin-top 20px
    
  &__str-2
    font-size 13px
    
  &__str-3 
    font-size 24px 
    semi()
    display: block
    color $dark

.chart_yellow 
  background: #ffeebd
  
.chart_green
  background: #8fecc4
  
.chart_pink
  background: #fcd4e5
  
.chart__coll 
  width 33.3%
  height 25px
  padding 0 10px
  position: relative
  
.bar_yellow
  background: #ffc215
.bar_green
  background: #1ab06f
.bar_pink
  background: #ff74af
  

  
