mixin module__rate(data)
  - var bemClass = 'module__rate'
  .module__rate&attributes(attributes).row.end

mixin module__rate-2(data)
  - var bemClass = 'module__rate'
  .module__rate-static&attributes(attributes).row.end
    