include ../module__nav/module__nav
include ../module__about-odds/module__about-odds
include ../module__stat/module__stat

mixin page__info(data)

  +module__nav()
    .module__contanier
      h2.title Уважаемые журналисты!
      .col__100 
        p Мы открыты для прессы и с удовольствием ответим на ваш комментарий, дадим интервью или поделимся актуальными данными и аналитикой рынка.
        p Пишите нам на 
          a(href="mailto:press@eromall.ru").pink press@eromall.ru
        p — это независимый проект, объединивший сотни служб доставки еды в одном приложении. Цель проекта — обеспечить своим пользователям наилучшие условия для быстрого, удобного и выгодного осуществления заказов.

  +module__stat()

  - var bemClass = 'module__about-odds'
  .module__about-odds&attributes(attributes)
    .container
      .module__about-odds_padding
        h2.title Наши преимущества
        div(class=bemClass + '__content') 
          h4 Доставка товаров на дом!
          p Любые блюда из лучших ресторанов города прямо у вас дома, вы можете заказать еду с ZakaZaka! Это так удобно и просто, всего три простых шага: <br> подбираете подходящий по ассортименту и ценам ресторан; <br> делаете заказ еды по меню этого заведения; <br> получаете оперативную доставку в сроки, указанные на сайте для каждого конкретного ресторана. Возможна и круглосуточная доставка! 
          p Мы сотрудничаем со многими заведениями города, поэтому вы сможете найти оптимальный вариант непосредственно в вашем районе, чтобы доставка еды заняла минимум времени. Курьеры наших партнеров привезут горячие блюда — горячими, холодные — охлажденными, а напитки — оптимальной температуры. В результате вы получите все необходимое для того, чтобы устроить люксовый ужин, не выходя из дома или офиса.
          h4 Почему это удобно?
          p алеко не всегда мы можем позволить себе отправиться в ресторан или даже кафе. Нет времени, нет настроения, одним словом — иногда хочется просто вкусно и качественно поесть, но чтобы никуда не идти и ничего не готовить. Для этого и существует наш сервис, объединяющий службы доставки еды из ресторанов: вы получите заказанные блюда настолько оперативно, насколько это возможно — заказы поступают на кухни ресторанов наших партнеров спустя несколько секунд после того, как будут оформлены на сайте!