.module__compare
  
  &__top 
    padding 25px 30px
    border-bottom 1px solid $dash-border
    
  &__row-2 
    padding 30px

  &__img 
    border 1px solid $dash-border
    width 160px 
    height @width
    margin-right 30px
    static() 
    
    img 
      display: block
      width 100%
      height auto
      
  &__str-3 
    font-size 18px
    color $dark
    semi()
    margin-bottom 10px
    position: relative 
    top -3px
    
  li 
    font-size 13px 
    color #6a6969
    
  &__col 
    background: $soft
    padding 30px 30px 30px 30px
    width 255px
    text-align: right
    position: relative
    
    img 
      display: block
      margin-left auto
      
      
  &__bottom 
    margin 75px 0 10px 0
      
  .module__rate
    margin 13px 0

input.module__catalog-item__count
input.module__compare__count
  width: 35px;
  padding 0 5px
  font-size 16px
  height: auto;
  padding: 0;
  text-align: center;
  border: 0;
  background: 0 0;
  color $dark
