.module__registration

  &__popup
    padding 20px 30px 30px 30px
    
  h2 
    margin 0 0 30px 0
    
  .button 
    display: block
    margin-top 30px
    width 100%

  .label__checkbox
    font-size 14px
    
  &__link 
    margin-left 28px
    
  &__bottom 
    border-top 1px solid $border
    
  .col__50
    padding 20px 20px 20px 30px
    
  .col__50_border 
    border-right 1px solid $border
    
  &__str
    font-size 13px
    color $text
    margin-bottom 3px
    
  &__ent 
    cursor pointer
    
  .icon 
    &:hover 
      color $pink  
      trs()

  .icon_fb
    color #385c8e
    height 20px
    width 20px
    static()
    position: relative 
    left -4px

  .icon_vk 
    color #436eab
    width 33px 
    height 33px
    static()
    margin 0 6px 0 0px
    
  .icon_ru
    color #006df0
    static()
    width 20px 
    height @width
    
  &__row 
    height 22px
    margin-top 9px
    
  &__row-2 
    margin-top 10px