include ../module__search/module__search
include ../module__search-result/module__search-result

mixin page__shop-2(data)
  
  .page__search
    .container
      .row

        +module__search-3()

        +module__search-result(data).module__search-result_block