.module__shop-account
.module__shop-account_m

  width 310px 
  margin-right 30px
  
  .side-nav
    margin-top 30px
  
  &__cont 
    padding 30px
  
  &__s-wrap
    background: white
    box-shadow 0 0 20px rgba(0,0,0, 0.03)
  
  .button 
    margin 15px 0 20px 0

  &__str 
    font-size 18px
    color $dark
    display: block 
    width 100%
    text-align: left
    margin-bottom 20px
    
  &__img
    width 100% 
    height auto
    img 
      width @width 
      height @width
      display: block
    
  .icon_sh 
    width 16px 
    height @width
    color $grey
    margin-left 5px
    
  &__str-3 
    color $dark 
    font-size 13px
    
  &__str-2 
    font-size 13px
    
  .icon_pink 
    color $pink
    
  &__row 
    margin 0 0 10px 0
    
  .menu.row
    display: block
    border-top 1px solid $dash-border
  
  .side-nav__link
    width 100%
    text-align left
    background: white
    border-bottom 1px solid $dash-border
    border-right none
    padding-left 0px
    padding-right 0px
    semi()
    
  .side-nav__item_active .side-nav__link 
  .side-nav__item:hover .side-nav__link
    background: white
    color $pink
  
.module__shop-account_m
  width 100%
  margin 0px
  
  .side-nav 
    margin-top 20px
  
  .module__shop-account__row-1
    margin-bottom 10px
    
  .module__shop-account__cont
    padding 20px 20px 0 20px
  
  .side-nav__link
    font-size 12px
    
  .button 
    width 100%
    padding 0px
    
  .module__shop-account__img
    margin-right 20px
    margin-bottom 0px
    
    
  .row-am
    margin-bottom 15px
    
  .module__shop-account__str
    text-align left
    font-size 16px
    margin 0px
    
  .icon_power 
    color $pink
    width 18px 
    height @width
    margin-right 20px
    statc()
    margin-left auto
    margin-right 0
    
.loc_reset
  .module__mobile-blocks__loc-row
    border-color $dash-border
    border-top none

