.module__location
  
  input 
    margin-top 0px
    
  .form__label 
    width 300px
    margin 0px 0 0 98px
    
  &__top 
    padding 20px 30px
    border-bottom 1px solid $border
    
  &__link 
    display: block
    color $text
    decor()
    &:hover 
      color $dark
    
  &__str 
    font-size 16px 
    text-transform: uppercase
    color $pink
    bold()
    
  &__content 
    padding 20px 30px 30px 30px
  
  &__lists 
    margin 12px 0
    line-height 22px
    &:last-child 
      margin-bottom 0px
      
  &__col 
    flex 1
    flex-basis 240px
    padding-right 20px
    
    
.modal_location
  max-width 1170px
  
  .button_close
    top 30px