.main-menu
  background: white
  margin-bottom 30px
  
  &__link 
    font-size 15px
    color $dark
    border-bottom 1px solid #ececec
    display: block
    padding 15px 0
    semi()
    
  &__item:first-child &__link
      border-top 1px solid #ececec
    
  &__item 
    padding 0 30px
    
  &__item_active &__link
    color $pink
    
  &__item_active 
  &__item:hover 
    box-shadow inset 2px 0 0 $pink
    
    
    
