mixin module__shop-chart(data)
  - var bemClass = 'module__shop-chart'
  .module__shop-chart&attributes(attributes)
    #chartdiv
    script(src='assets/js/charts/chart.min.js')

mixin module__shop-chart-2(data)
  - var bemClass = 'module__shop-chart'
  .module__shop-chart&attributes(attributes)
    #chartdiv2
    script(src='assets/js/charts/chart.min.js')

mixin module__shop-chart-3(data)
  - var bemClass = 'module__shop-chart'
  .module__shop-chart&attributes(attributes)
    #chartdiv3
    script(src='assets/js/charts/chart.min.js')