.module__user-settings
  padding-bottom 30px
  
  &__str 
    font-size 15px
    text-transform: uppercase
    semi()
    color $dark
    
  &__top 
    padding 30px
    border-bottom 1px solid $dash-border
    background: white
    
  .col__50 
    background: white
    
  &__form 
    padding 25px 30px 30px 30px
    
  .form__area
    height 96px
    
  .form__label:last-child
    margin-bottom 0px
    
  .input__adr 
    width 33.3%
    margin 0px
    
  .input__adr_center 
    border-radius 0 !important
    border-left none
    border-right none
    
  .input__adr_left
    border-radius 2px 0 0 2px !important
    
  .input__adr_right 
    border-radius 0 2px 2px 0px !important
    
  &__file 
    display: flex
    // &:hover 
    //   box-shadow 0 0 10px rgba(0,0,0, 0.1)
    //   trs()
    
  &__file-wrap 
    margin 100px auto 0 auto
    text-align: center
    
    img 
      width 164px 
      height @width 
      border-radius(50%)
      display: block
    
  &__file-col
    width 126px
    position: relative
    margin 10px auto 5px auto
    text-align: center
    
  .form__file 
    position: absolute
    width 100%
    opacity: 0
    cursor pointer
    
  &__link 
    font-size 13px 
    decor()
    
  &__item 
    margin-bottom 30px
    
  .form__label_180
    width 180px
    static()
    margin-right 15px
    
  .icon_accept 
    color $green
    width 25px 
    height 21px
    
  .form__label_220
    width 220px
    static()
    margin-right 15px
    
  .module__user-settings__form_grey
    background: #fafafa
    
  .form__label_180_reset 
    margin-bottom 0px
    margin-right 15px
    
  .form__span
    font-size 13px
    color #aeadad
    margin-bottom 15px
    
  .f__link
    margin-bottom 15px
    color $pink
    display: block
    font-size 13px
    hover()
    
  p 
    a 
      color $pink
      hover()
      font-size 13px
      
  &__str-2 
    font-size 13px
    color $dark 
    position: relative 
    top -5px
    
  &__str-3
    color $dark
    
  &__qr 
    width 137px 
    height @width 
    display: block
    border 1px solid $border
    margin-right 20px
    

    

