include ../injected/injected
include ../head/head
include ../scripts/scripts
include ../../helpers/variables


mixin page(data) 
    body.page
      
      +injected: block

      .page__wrapper

        //- Header
        <!-- Header -->
        +if('header')
          +use('header')
        
        <!-- Main -->
        main.main&attributes(attributes)

          //- Main page 
          +if('page__main')
            +use('page__main')

          //- Get order
          +if('page__order')
            +use('page__order')

          //- About
          +if('page__about')
            +use('page__about')

          //- Info
          +if('page__info')
            +use('page__info')

          //- News
          +if('page__news')
            +use('page__news')

          //- Partner
          +if('page__partner')
            +use('page__partner')

          //- Rules
          +if('page__rules')
            +use('page__rules')

          //- Terms 
          +if('page__terms')
            +use('page__terms')

          //- Contacts 
          +if('page__contacts')
            +use('page__contacts')

          //- Account 
          +if('page__account')
            +use('page__account') 

          +if('page__search')
            +use('page__search')

          +if('page__shop')
            +use('page__shop')

          +if('page__odds')
            +use('page__odds')

          +if('page__review')
            +use('page__review')

          +if('page__shop-account')
            +use('page__shop-account')

        //- Footer
        <!-- Footer -->
        +if('footer')
          +use('footer')
  
        //- Noti
        +if('module__notification')
          +use('module__notification')


      +if('module__registration')
        +use('module__registration')

      +if('module__location')
        +use('module__location')

      +if('module__mobile-blocks')
        +use('module__mobile-blocks')
        
      <!-- Scripts -->
      +scripts()