.page_mobile-menu
  .module__mobile-blocks  
    opacity 1
.module__mobile-blocks
  trs()
  position: fixed;
  top: 0;
  left 0px
  bottom: 0;
  min-height: 100vh;
  overflow-y: scroll;
  z-index: 0;
  opacity: 0;
  width 265px
  background: #ffffff
  box-shadow inset -4px -2px 5px 0 rgba(0, 0, 0, 0.02)
  border-right: 1px solid rgba(0, 0, 0, 0.07);

  &__reg 
    padding 20px
    
    .button 
      padding 0px
      &:first-child 
        margin-right 15px
        min-width: 100px;
        
  &__loc 
    padding 0 20px0
        
  &__loc-row 
    padding 14px 0
    border-top 1px solid $dash-border
    border-bottom 1px solid $dash-border
    
  .icon_marker
    margin: 0 5px 0 0;
    
  &__str
    font-size 14px
    color $dark
    
  .footer-nav 
    display: block
    padding 10px 0px 15px 0

  .footer-nav_border
    border-bottom 1px solid $dash-border
    margin-bottom 15px
  
  &__nav
    padding 15px 20px
    
  .footer-nav__link
    font-size 13px
    text-decoration: none
    color #6a6969

        
.icon_marker
  width: 20px;
  height: 20px;
  color: #ff74af;