.module__news-item
  background: white
  padding 30px
  margin-bottom 20px
  
  &__row 
    margin-bottom 20px
  
  &__str
  &__str-2
    font-size 18px
    color $dark
    
  &__str-2 
    color $pink
    semi()
    margin-left 5px
    
  .col__240 
    width 240px
    static()
    margin-right 25px
    
  &__img 
    display: block
    height auto
    width 100%
    
  p, 
  &__date
    font-size 13px
    
  p 
    padding-bottom 10px
    
