include ../module__top/module__top
include ../module__main-review/module__main-review
include ../module__discount/module__discount
include ../module__subscribe/module__subscribe

mixin page__main(data)

  +module__top()

  +module__main-review()

  +module__discount()

  +module__subscribe()
    