mixin module__about-odds(data)
  - var bemClass = 'module__about-odds'
  .module__about-odds&attributes(attributes)
    .container
      .module__about-odds_padding
        .row.center-c 
          h2.title Наши преимущества
        .row.between(class=bemClass + '__row').jsSlick5
          -for(var x = 0 ; x < 4 ; x++)
            div(class=bemClass + '__item')
              +icon('comp')
              span(class=bemClass + '__str') Выгода
              p Мы предоставляем самую полную информацию об акциях и скидках всех ресторанов.
        div(class=bemClass + '__content') 
          h4 Доставка товаров на дом!
          p Любые блюда из лучших ресторанов города прямо у вас дома, вы можете заказать еду с ZakaZaka! Это так удобно и просто, всего три простых шага: <br> подбираете подходящий по ассортименту и ценам ресторан; <br> делаете заказ еды по меню этого заведения; <br> получаете оперативную доставку в сроки, указанные на сайте для каждого конкретного ресторана. Возможна и круглосуточная доставка! 
          p Мы сотрудничаем со многими заведениями города, поэтому вы сможете найти оптимальный вариант непосредственно в вашем районе, чтобы доставка еды заняла минимум времени. Курьеры наших партнеров привезут горячие блюда — горячими, холодные — охлажденными, а напитки — оптимальной температуры. В результате вы получите все необходимое для того, чтобы устроить люксовый ужин, не выходя из дома или офиса.
          h4 Почему это удобно?
          p алеко не всегда мы можем позволить себе отправиться в ресторан или даже кафе. Нет времени, нет настроения, одним словом — иногда хочется просто вкусно и качественно поесть, но чтобы никуда не идти и ничего не готовить. Для этого и существует наш сервис, объединяющий службы доставки еды из ресторанов: вы получите заказанные блюда настолько оперативно, насколько это возможно — заказы поступают на кухни ресторанов наших партнеров спустя несколько секунд после того, как будут оформлены на сайте!