.module__about-odds
  padding 10px 0
  
  .icon 
    color $pink
    width 69px 
    height @width

  &__str 
    font-size 18px 
    color $dark
    display: block
    semi()
    margin 10px 0
    
  &__item 
    text-align: center
    padding 0 10px
    width 24%
    
    p 
      font-size 14px
      line-height 20px
    
  &__row 
    padding 25px 
    border-bottom 1px solid $border
    
  h4 
    margin 10px 0 15px 0
    
  &__content 
    padding 30px 0 20px 0
    
.module__about-odds_padding
  margin-left 342px
  .module__about-odds__content
    padding-top 0px
    