include ../module__nav/module__nav


mixin page__terms(data)

  +module__nav()
    .module__contanier
      h2.title Пользовательское соглашение
      .col__100 
        p Настоящее Пользовательское Соглашение регулирует отношения между ООО «Деливери Клаб» ОГРН 1097746360568 (далее именуемое - Delivery Club), и пользователем сети Интернет (далее – Пользователь) по использованию сервиса Delivery Club.
        p Перед тем как начать использовать сервис Delivery Club, Пользователь обязан ознакомиться с настоящим Пользовательским Соглашением и присоединиться к нему.
        p Пользователь присоединяется к настоящему Пользовательскому Соглашению путем совершения одного из следующих конклюдентных действий:
        ul 
          li 
            p Нажатие кнопки «Зарегистрироваться» при регистрации на сайте www.delivery-club.ru либо мобильном прило жении Delivery Club;
          li 
            p Нажатие кнопки «Заказать» при оформлении заказа Пользователем без авторизации на Сайте либо мобильном приложении Delivery Club (далее по тексту настоящего Соглашения именуемые – Сайт);
        p Настоящее Пользовательское Соглашение приравнивается к договору, составленному в письменной форме. Принимая настоящее Пользовательское Соглашение, Пользователь выражает полное и безоговорочное согласие со всеми его условиями, в том числе, в части предоставления согласия Delivery Club на обработку персональных данных Пользователя на условиях, указанных в разделе 8 настоящего Пользовательского соглашения, и в части предоставления согласия Delivery Club на получение e-mail, sms и иных видов рассылок информационного и рекламного содержания.
        h4 1. Предмет Пользовательского Соглашения
        p 1.1 Delivery Club предлагает Пользователю доступ к сервису быстрого поиска и заказа готовой еды на условиях, предусмотренных настоящим Пользовательским Соглашением.
        p 1.2 Настоящее Соглашение может быть изменено Delivery Club в одностороннем порядке без предварительного уведомления. Новая редакция Соглашения вступает в силу с момента ее опубликования на странице сайта <a href=''>www.delivery-club.ru/agreement/</a>, если иное не предусмотрено новой редакцией Соглашения.
        p 1.3 Пользователь вправе отказаться от принятия изменений Соглашения, осуществленных Delivery Club, что означает отказ Пользователя от использования сервиса Delivery Club.
        h4 2. Описание услуг
        p 2.1 Delivery Club является единой информационной системой заказов, которая предлагает пользователям широкие возможности для быстрого и простого поиска и заказа готовой еды, реализуемой Партнерами Delivery Club, а также принимает от Пользователей денежные средства в счет оплаты заказов. Обязательства по реализации продуктов, согласно условиям оформленного заказа Пользователя, возникают непосредственно у Партнера Delivery Club.
        p 2.2 Указанные услуги носят информационный характер и оказываются Пользователю безвозмездно.
        p 2.3 Пользователь соглашается с тем, что все услуги предоставляются «как есть» и что Delivery Club не несет ответственность за качество поставляемых продуктов за задержки, сбои, неверную или несвоевременную доставку, а также за сбои в работе платежных систем.
        p 2.4 Для того, чтобы воспользоваться услугами службами Delivery Club, необходимо иметь компьютер/иное электронное устройство с возможностью доступа в Интернет (WWW).
        p 2.5 Пользователь самостоятельно оформляет Заказ на Сайте.
        p 2.6 Пользователь оплачивает заказ одним из следующих способов:
        ul 
          li 
            p 2.6.1 непосредственно при получении заказа от службы доставки (Партнера Delivery Club) наличными денежными средствами, банковской картой или иными способами, предоставленными Партнером Delivery Club;
          li 
            p 2.6.2 on-line оплата на Сайте Delivery Club банковской картой VISA/MasterCard через платежную систему ОАО «Альфа-Банка». Все дополнительные расходы по перечислению денежных средств за заказ несёт Пользователь. При выборе on-line оплаты после оформления Заказа Пользователь будет перенаправлен на защищенную платежную страницу ОАО «Альфа-Банк» (paymentgate.ru), где ему необходимо ввести данные его банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Банк Пользователя поддерживает данную технологию, Пользователь будет перенаправлен на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации Пользователь может уточнить в Банке, выдавшем его банковскую карту.
          li.none 
            p Представленная к оплате сумма является только стоимостью Заказа. Стоимость услуг (таких как доставка, сборка) взимается отдельно в момент получения Заказа.
          li.none 
            p ОАО «Альфа-Банк» защищает и обрабатывает данные банковской карты Пользователя по стандарту безопасности PCI DSS 2.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. ОАО «Альфа-Банк» не передает данные карты Пользователя Delivery Club и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.
          li.none 
            p Безопасность обработки Интернет-платежей гарантирует ОАО «Альфа-Банк». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используется специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.
          li.none 
            p При наличии вопросов по совершенному платежу, Пользователь может обратиться в службу поддержки клиентов по телефону (495) 78-888-78 (для Москвы и МО), 8(800) 2-000-000 (для регионов).
          li.none 
            p on-line оплата на Сайте Delivery Club банковской картой VISA/MasterCard через платежную систему ООО НКО «Деньги.Мэйл.Ру». Все дополнительные расходы по перечислению денежных средств за заказ несёт Пользователь.
        p Пользователь имеет возможность привязать банковскую карту к своему Личному кабинету. В дальнейшем сумма любого последующего Заказа Пользователя будет списываться автоматически с прикрепленной к Личному кабинету банковской карты без указания реквизитов, при подтверждении платежа с его стороны путем нажатия кнопки «Оплатить» в корзине Личного кабинета и ввода одноразового пароля, в случае, если банк-эмитент банковской карты клиента предусматривает использование данной защиты.
        p 2.7 В случае отказа Пользователя от Заказа, либо в случае нарушения Партнерами Delivery Club условий реализации продукции, в том числе, но не ограничиваясь: в случае одностороннего отказа от реализации продукции, нарушения срока доставки или несоответствия качества продукции и т.п., 
          span Пользователь обязан в течение 24 часов с момента наступления времени доставки/получения Заказа сообщить Delivery Club по e-mail адресу finance@delivery-club.ru о своём отказе от Заказа, предоставить документы, подтверждающие оплату Заказа, и потребовать вернуть уплаченные денежные средства.
        p Возврат денежных средств в течение 2 (двух) дней с момента оплаты Заказа производится Delivery Club.
        p 
          span По истечении 2 (двух) дней с момента оплаты Заказа при неполучении Delivery Club уведомления от Пользователя об отказе от Заказа и возврате денежных средств, Заказ считается выполненным, денежные средства за него возврату не подлежат.
        p Возврат денежных средств, оплаченных Пользователем через Сайт банковской картой, осуществляется только на ту карту, с которой была произведена оплата.
        p 2.8 Delivery Club вправе отказать Пользователю в оформлении Заказа с формой оплаты "наличными или картой курьеру", если ранее оформленные Заказы Пользователя не были доставлены по его вине (например, если Пользователь не открыл дверь или не ответил по телефону курьеру при доставке Заказа, или Пользователь указал несуществующий адрес доставки и т.п.).