.module__subscribe
  background: white
  
  .col__60
    padding 140px 0
  
  .col__40
    background: image-url('5.png') no-repeat center
  
  h2 
    font-size 30px
    line-height 33px
    margin-bottom 25px
  
    span 
      font-size 30px 
      color $pink
      
  &__str
    font-size 13px
    color $dark

  .label__radio .input__radio:checked + .icon 
    color $pink
    trs()
    
  .icon 
    width 22px 
    height 25px
    color #dedddd
    
  &__check-row
    position: absolute
    right 10px
    top 8px
    border-left 1px solid $border
    padding 1px 0px 1px 10px
    
    label
      margin 0 4px 0 0
    
  &__row 
    margin 0px
    position: relative
    width 326px
    
    .form__label 
      margin 0px
      
    .form__input 
      margin 0px
    
  input 
    height 44px
    
  .button 
    height 44px
    line-height @height
    margin-left 10px
    
  &__f-row 
    margin-top 20px
    
  &__sub 
    margin-left 322px
    width 515px
    
  &__apps 
    margin-top 40px
  
  .app 
    margin-right 15px
    
.module__subscribe_pink 
  background: transparent
  
  h2 
    color white
    margin-bottom 10px
    
  h3 
    color #ffc3dc
    font-size 18px
    margin-bottom 20px
    
  .module__subscribe__str
    color $dark-pink
    
  .form__input
    border-color $pink
    
  .button 
    background-color #cd3c7a
    padding 0
    &:hover 
      opacity: 0.8
    
