.module__info-odds
  padding 0 0 30px 0
  
  h2 
    margin-top 0px
  
  &__row
    padding-top 20px

  .icon 
    color $pink
    width 50px 
    height @width
    static()
    position: relative
    top 5px
    margin-right 20px

  &__str 
    font-size 18px 
    color $dark
    display: block
    semi()
    margin 0 0 10px 0
    
  &__item 
    padding 0 10px
    width 33.3%
    
  h4 
    margin 20px 0
    
  &__col p 
    font-size 13px !important
    
  &__col 
    padding-left 80px
    
  &__form 
    background: white
    padding 30px 40px 40px 40px
    
    h2 
      margin-bottom 25px
    
  .button 
    width 100%
    margin-top 10px
    
  &__content 
    padding 30px 0px 0 40px
    
    h4 
      margin-top 10px
    
  &__row &__content
    p 
      font-size 13px
      
  strong 
    color $text
    font-size 13px
    margin-bottom 10px
    display: block
    
  li 
    font-size 13px
    color $text
    margin-bottom 8px
      