body 
  font-family $body-font
  -webkit-font-smoothing: antialiased
  min-width: $body-min-width
  max-width: $body-max-width
  margin 0 auto
  background: white
  
main 
  margin-top 69px
  
.main_bg 
  background: #f2f2f2
  
.page__wrapper 
  z-index: 1
  position: relative
.page_mobile-menu
  .page__wrapper 
    transform: translateX(265px);
    
.page_mobile-menu
.cart-opend
.page_mobile-menu body
.cart-opend body
.page_mobile-menu .page__wrapper
.cart-opend .page__wrapper
  overflow hidden
  
.hidden
  display: none
  
.page_mobile-menu .page__wrapper
  position fixed
  
.title 
  margin 20px 0
  
.page__search 
  padding 20px 0 50px
  
.page__account
  padding 30px 0 
  
input.module__cart__count
  border none
  background: transparent
  width 45px
  height auto
  padding 0px
  text-align: center;
  