// Media queries, example +width-range(10em, 20em)
+width-max($container-width)
  .container 
    width 100%
 

// iPadi pro 
// +width-max(1366px)


+width-max(1024px)
  .module__top__nav
  .module__discount__row
  .footer__soc
    width 100%
  .slick-prev
  .slick-next
  .module__main-review__slider
  .module__top__nav
  .module__main-review__layer
  .footer-nav
  .module__header-location
  .header__row
    display: none
  .module__bottom-cart__str
  .module__bottom-cart__str-2
  .module__bottom-cart__str-3
  .module__bottom-cart__link
  .module__cart__str-6
  .module__cart__count
    font-size 14px
  .module__cart__str-7
    font-size 16px
  .module__cart__str-6
    white-space: nowrap;
  .total
    td 
      vertical-align: baseline;
  .module__bottom-cart .icon_cart
    top -8px 
    width 34px 
    height 58px
    margin-right 10px
  .footer .icon_cross
    width 15px 
    height 15px
  .module__main-review .jsSlick4
    padding 0px
  .module__main-review__item
    //margin 0 15px
  .header .module__logo
    margin 0 auto
  .header
    padding 1px 0
  .main
    margin-top 47px
  .module__logo__link
    background-size 110px 35px
    position: relative 
    top 2px
  .opend
    transform: translateY(calc(0% + 47px));
  .module__subscribe__r-row
    flex-direction column
  .module__subscribe .col__60
    width 100%
    padding 20px 0
  .module__cart__str-5
    padding-right 20px
  .module__bottom-cart__row
    padding-right 30px
  .module__main-review__item:hover
    box-shadow none
  .module__main-review__row
    flex-direction column
  .module__main-review__slider
    width 100%
    display: block
  .module__main-review__slide
    padding 60px 0
  .module__main-review__cont
    margin 30px auto 0 auto
  .slick-dotted.slick-slider
    margin-bottom 0px
  .module__main-review
    padding 0px
  .module__main-review .slick-dots
    bottom 20px
  .sandwitch
    display: block

// iPad 
// +width-max(900px)


+width-max(868px)
  .module__location__content
    flex-wrap wrap
  .module__location__col
    margin-bottom 30px
    width 33%
    flex initial
  .module__location__content
    overflow-y scroll
  .module__top__col img 
    width 240px
  .module__top__str
    font-size 16px
  .module__top__wrapper .button
    margin-top 20px
  .module__discount h2
    font-size 24px
  .module__top__col
    padding 40px 20px 30px 20px
  


// iPad mini
//+width-max(768px)


+width-max(752px)
  .module__discount
    border-bottom 1px solid $pink
  .module__bottom-cart
  .module__discount__row
    display: none
  .module__discount .jsSlick3
  .module__discount__slider
    margin 0px
  .module__item
    margin 0 1px
  .module__discount
    padding 0px 0 53px 0
    background white
  .module__main-review .container 
  .module__discount .container 
    padding 0px
  .slick-dots li button:before
    font-size 24px !important
  .slick-dots li.slick-active button:before
  .module__main-review .slick-dots li.slick-active button:before
    color $pink
  .module__main-review__slider .slick-dots li.slick-active button:before
    color white
  .slick-dots li
    width 12px !important
    height 12px !important
    margin 0px
  .jsSlick4 .slick-dots li button:before
    color #c6c6c6 !important
  .jsSlick4 .slick-dots li.slick-active button:before 
    color $pink !important

+width-max(660px)
  .module__location__col
    width 50%
  .module__location__search
    flex-direction column
    align-items: flex-start;
  .module__location .form__label
    margin 20px 0 0 0
    width 100%
  .module__location__content
  .module__location__top
    padding 20px
    

+width-max(660px)
  .module__location__col
    width 100%
  .footer__row
    flex-direction column
  .footer__loc
    margin-left 0px
  .footer .module__logo__link
    width 112px
  .footer__str
    font-size 13px

// iPohne 6+
+width-max(414px)
  .footer > .container 
    padding 0px
  .footer__link
    font-size 13px
  .footer__soc
    padding 20px 0
  .module__socials .icon
    width 30px 
    height @width
  .footer__row
    padding 15px 20px 20px 20px
  .footer .block
    margin 5px 0
  .footer__b-row
    flex-direction column
    align-items: baseline;
  .module__top__col
    padding 70px 20px
  .module__main-review__cont
    margin: 35% auto 0 auto;
  .module__main-review__str-2
    font-size 30px
  .jsSlick4
    background: #fafafa;
  .module__subscribe h2
    margin-bottom: 14px;
  .module__subscribe h2
  .module__subscribe h2 span
    font-size 20px
    line-height: 26px;
  .module__subscribe__f-row
    flex-direction column
  .module__subscribe__row
    width 100%
  .module__subscribe .button
    margin 25px auto 0 auto
    width: 153px;
  .module__subscribe .col__40
    display: none
  .module__subscribe
    height 479px
    background image-url('3.png') no-repeat center bottom
    background-position-y: 155px;



// iPhone 6
// +width-max(375px)


// iPhone 4 5 and 4s 5S
// +width-max(320px)
